# ----------------------------
# コンパイルされたバイトコード
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# 仮想環境
# ----------------------------
.venv/
venv/

# ----------------------------
# 設定ファイル
# ----------------------------
.env

# ----------------------------
# build
# ----------------------------
build/
*.zip

# ----------------------------
# logs
# ----------------------------
logs/

# ----------------------------
# Terraform 関連
# ----------------------------
# 実行バイナリやプラグインのキャッシュ
.terraform/

# 状態管理ファイル
*.tfstate
*.tfstate.*

# 変数定義ファイル
*.tfvars
*.tfvars.json

# 実行時のクラッシュログなど
crash.log
crash.*.log

# .terraform.lock.hcl は、チーム開発なら Git 管理に含める
#.terraform.lock.hcl